html{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(255, 240, 240);
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    color: rgb(255, 240, 240);
}
p{
    font-size: 1.3vw;
    margin: 0px 10% 0px 10%;
}
#f{
    margin: 0px 10% 0px 10%;
    font-size: 1.2vw;
}
h1{
    margin: 0px 10% 0px 10%;
}
h2{
    margin: 0px 10% 0px 10%;
}
h3{
    font-size: 1.4vw;
    margin: 0px 10vw 0px 10vw;
}
h4{
    margin: 0px 10vw 0px 10vw;
}
h5{
    margin: 0px 10vw 0px 10vw;
}
h6{
    margin: 0px 10vw 0px 10vw;
}
body{
    background-color: rgb(43, 43, 43);
    margin: 0px;
}
#mainCoolbar{
    position: fixed;
    top: 0px;
    display: flex;
    justify-content: flex-start;
    height: 65px;
    width: 100%;
    background-color: rgb(15, 15, 15);
}
#coolbar{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px 4px;
}
#inicio{
    width: 80px;
    height: 70px;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 5px;
    color: rgba(255, 240, 240, 0.144);
}
#coolbar a{
    border: 2px solid rgb(71, 71, 71);
    background-color: rgb(26, 26, 26);
    width: 80px;
    display: flex;
    justify-content: center;
    margin: 0px 5px 0px 5px;
    align-items: center;
    font-size: 17px;

}
#coolbar p{
    border: 2px solid rgb(43, 43, 43);
    background-color: rgba(26, 26, 26, 0.5);
    color: rgb(255, 240, 240, 0.5);
    width: 80px;
    display: flex;
    justify-content: center;
    margin: 0px 5px 0px 5px;
    align-items: center;
    font-size: 17px;

}
.text{
    margin: 0px 10vw 0px 10vw;
    text-align:center;
    font-size: 1.3vw;
    line-height: 3vh;
}
#bean{
    display: flex;
    justify-content: center;
}
.smolBar{
    right: 70%;
    height: 5px;
    background-color: #242424;
}
.title{
    color: #f98b88;
    font-size: 2.9vw;
}
.subTitle{
    color: #fabbb9;
    font-size: 2vw;
}
.selecao{
    width: 100%;
    display: flex;
    justify-content: center;
}
#hilit{
    color: #f98b88;
}
#miniBox{
    border: .4vh solid #242424;
    background-color: rgb(51, 51, 51);
    margin: 2% 0px 1% 10%;
    width: fit-content;
    color: rgb(211, 185, 185);
    padding: 1vh 20vh 1vh 2vh;
    font-size: 1.13vw;
    width: 30vw;
}
#sabo{
    text-align: center; 
    font-size: 4.5vw; color: #f98b88;
    position: absolute;
    top: 45vh;
    right: 5vh;
    left: 5vh;
}
.body{
    width: 80%;
    height: 100%;
    background-color: antiquewhite;
}
[contenteditable]{ outline: 0px solid transparent;}

#selection{
    font-size: 1.2vw;
    color: #f98c88b6;
    margin: 10px;
}

/* how will the website look like in telephones */

@media screen and (max-width: 450px){

    html{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: rgb(255, 240, 240);
        scroll-behavior: smooth;
    }
    a{
        text-decoration: none;
        color: rgb(255, 240, 240);
    }
    p{
        font-size: 3.5vw;
        margin: 0px 10% 0px 10%;
    }
    #f{
        font-size: 3.5vw;
        margin: -10px 10px 10px 10px;
    }
    h1{
        margin: 0px 10% 0px 10%;
    }
    h2{
        margin: 0px 10% 0px 10%;
    }
    h3{
        font-size: 4vw;
        margin: 0px 10% 0px 10%;
    }
    h4{
        margin: 0px 10% 0px 10%;
    }
    h5{
        margin: 0px 10% 0px 10%;
    }
    h6{
        margin: 0px 10% 0px 10%;
    }
    body{
        background-color: rgb(43, 43, 43);
        margin: 0px;
    }
    #mainCoolbar{
        position: fixed;
        top: 0px;
        display: flex;
        justify-content: space-between;
        width: 100%;
        background-color: rgb(15, 15, 15);
    }
    #coolbar{
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 2% 7%;
    }
    #coolbar a{
        border: 2px solid rgb(71, 71, 71);
        background-color: rgb(26, 26, 26);
        width: 20vw;
        display: flex;
        justify-content: center;
        margin: 0px 1vw 0px 1vw;
        align-items: center;
        font-size: 3vw;
    
    }
    #coolbar p{
        border: 2px solid rgb(43, 43, 43);
        background-color: rgba(26, 26, 26, 0.5);
        color: rgb(255, 240, 240, 0.5);
        width: 20vw;
        display: flex;
        justify-content: center;
        margin: 0px 1vw 0px 1vw;
        align-items: center;
        font-size: 3vw;
    
    }
    #coolIcon{
        display: flex;
        justify-content: center;
        align-items:center;
    }
    .text{
        margin: 0px 6% 0px 6%;
        text-align:center;
        line-height: normal;
        font-size: 3.5vw;
    }
    #bean{
        display: flex;
        justify-content: center;
    }
    .smolBar{
        right: 70%;
        height: 5px;
        background-color: #242424;
    }
    .title{
        color: #f98b88;
        font-size: 7vw;
    }
    .subTitle{
        color: #fabbb9;
        font-size: 4.7vw;
    }
    .selecao{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    #hilit{
        color: #f98b88;
    }
    #miniBox{
        border: .4vh solid #242424;
        background-color: rgb(51, 51, 51);
        margin: 2% 0px 0% 10%;
        width: fit-content;
        color: rgb(211, 185, 185);
        padding: 2vh 2vh 2vh 2vh;
        width: 30vh;
        font-size: 3vw;
    }
    #sabo{
        text-align: center; 
        font-size: 9vw; color: #f98b88;
        position: absolute;
        top: 45vh;
        right: 5vh;
        left: 5vh;
    }
    .body{
        width: 80%;
        height: 100%;
        background-color: antiquewhite;
    }
    [contenteditable]{ outline: 0px solid transparent;}
    
    #selection{
        font-size: 4vw;
        color: #f98c88b6;
        margin: 10px;
    }



}
